name: eCLM CI Test

# Controls when the action will run.
on: [push, pull_request]

jobs:
  eclm_build_job:
    name: ${{ matrix.config.name }}
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        config:
        - {
            name: "eCLM-Standalone",
            use_oasis: "False",
            coup_oas_icon: "False",
            coup_oas_pfl: "False",
            use_pdaf: "False"
          }
        - {
            name: "eCLM-ParFlow-ICON",
            use_oasis: "True",
            coup_oas_icon: "True",
            coup_oas_pfl: "True",
            use_pdaf: "False"
          }
        - {
            name: "eCLM-PDAF",
            use_oasis: "False",
            coup_oas_icon: "False",
            coup_oas_pfl: "False",
            use_pdaf: "True"
          }

    env:
      CC: mpicc
      FC: mpifort
      BUILD_DIR: bld
      INSTALL_DIR: install
      OASIS_TAG: tsmp-patches-v0.1
      PFUNIT_TAG: v4.10.0
      CMAKE_BUILD_PARALLEL_LEVEL: 4

    steps:
      - uses: actions/checkout@v4
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: libxml2-utils pylint wget cmake netcdf-bin libnetcdf-dev libnetcdff-dev libpnetcdf-dev
          version: 1.0
          execute_install_scripts: true

      - name: Download MPI Fortran compiler
        run: sudo apt-get install gfortran openmpi-bin libopenmpi-dev

      - if: matrix.config.use_oasis == 'True'
        name: Restore cached OASIS3-MCT ${{ env.OASIS_TAG }}
        uses: actions/cache/restore@v4
        id: cache-oasis-restore
        with:
          path: ${{ github.workspace }}/oasis3-mct/install
          key: cache-${{ matrix.config.name }}-${{ env.OASIS_TAG }}

      - if: matrix.config.use_oasis == 'True' && steps.cache-oasis-restore.outputs.cache-hit != 'true'
        name: Install OASIS3-MCT ${{ env.OASIS_TAG }}
        working-directory: ${{ github.workspace }}
        run: |
          git clone -b $OASIS_TAG https://icg4geo.icg.kfa-juelich.de/ExternalReposPublic/oasis3-mct.git
          cd oasis3-mct
          export OASIS_ROOT=$(pwd)
          echo "OASIS_ROOT=${OASIS_ROOT}"
          cd util/make_dir
          echo "include ${GITHUB_WORKSPACE}/.github/build.oasis3-mct.ubuntu22.04" > make.inc
          cat make.inc
          make realclean static-libs -f TopMakefileOasis3
          echo "CMAKE_PREFIX_PATH=${CMAKE_PREFIX_PATH}:${OASIS_ROOT}/install" >> $GITHUB_ENV

      - if: matrix.config.use_oasis == 'True' && steps.cache-oasis-restore.outputs.cache-hit != 'true'
        name: Cache OASIS3-MCT ${{ env.OASIS_TAG }}
        uses: actions/cache/save@v4
        with:
          path: ${{ github.workspace }}/oasis3-mct/install
          key: cache-${{ matrix.config.name }}-${{ env.OASIS_TAG }}

      - name: Configure eCLM
        run: |
          echo "CMAKE_PREFIX_PATH=${CMAKE_PREFIX_PATH}"
          cmake -S src -B $BUILD_DIR                                \
                -DCMAKE_BUILD_TYPE="RELEASE"                        \
                -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR                 \
                -DCMAKE_C_COMPILER=$CC                              \
                -DCMAKE_Fortran_COMPILER=$FC                        \
                -DUSE_OASIS=${{ matrix.config.use_oasis }}          \
                -DCOUP_OAS_ICON=${{ matrix.config.coup_oas_icon }}  \
                -DCOUP_OAS_PFL=${{ matrix.config.coup_oas_pfl }}    \
                -DUSE_PDAF=${{ matrix.config.use_pdaf }}

      - name: Build eCLM
        run: cmake --build $BUILD_DIR

      - name: Install eCLM
        run: cmake --install $BUILD_DIR

      - name: Install eCLM namelist generator
        run: pip3 install --user ./namelist_generator
